html {
    min-height: 100%;
}

body {
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #000000, #040303, #070707, #0a0a0b, #0d0d0e, #13151e, #121c2e, #07243f, #073063, #2b3884, #593aa1, #8d31b5);
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

a,
button {
    background-color: transparent;
    border: unset;
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.card .btn-outline-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
    color: rgb(202, 202, 202);
}

.logo {
    display: block;
}

.navbar-brand {
    margin-right: 0;
}

.nav-link {
    padding: 0;
}

.header {
    background-color: black;
    padding: 10px 0px;
    transition: all 0.50s ease-in-out!important;
    -webkit-box-shadow: 0px -12px 50px 0px rgb(41 10 230 / 59%);
    box-shadow: 0px -12px 50px 0px rgb(41 10 230 / 59%);
}

.header a {
    font-size: 30px;
    color: rgb(97 65 148);
}

.scroll-down {
    position: sticky;
    top: -65px;
    transform: translate3d(0, -100%, 0);
    z-index: 1020;
}

.search {
    padding-left: 20px;
}

.search-input {
    position: absolute;
    color: black;
    width: 200px;
    height: 35px;
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 9999px;
    background-color: rgb(97 65 148);
    padding: 10px;
    padding-left: 45px;
    transition: all 0.50s ease-in-out;
    -webkit-appearance: none;
}

.search-icon {
    position: absolute;
    color: black;
    font-size: 15px!important;
    padding: 5px;
    padding-left: 10px;
    z-index: 3;
}

.at-icon {
    position: absolute;
    color: black;
    font-size: 15px!important;
    padding: 5px;
    padding-left: 10px;
    z-index: 3;
}

.search-btn {
    position: absolute;
    color: black;
    font-size: 15px!important;
    padding: 5px;
    padding-left: 10px;
    z-index: 3;
}

.category-add {
    color: rgb(230, 10, 186)!important;
}

.modal-header {
    border-bottom: unset;
}

.header-mash {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: rgb(106 118 227 / 17%);
}

.mash-bg {
    background: linear-gradient( 315deg, #073063, #2b3884, #593aa1, #b53183, #8d31b5, #593aa1, #2b3884, #073063);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.random-btn {
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background-color: #e60aba;
    color: #ffffff;
    border-color: #e60aba;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img-cards {
    /* -moz-box-shadow: inset 0 -10px 10px -10px #0d6efd;
    -webkit-box-shadow: inset 0 -10px 10px -10px #0d6efd;
    box-shadow: inset 0 -10px 10px -10px #0d6efd; */
    background-color: rgb(106 118 227 / 17%);
}

.img-cards .start-btn {
    border-top: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
}

.blue-text {
    color: #00ceff;
}

.blue-border {
    border-color: #00ceff;
}

.card-shadow-blue {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(0 206 255 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #00ceff inset;
}

.yellow-card {
    color: #fff;
}

.yellow-text {
    color: #ffc100;
}

.yellow-border {
    border-color: #ffc100;
}

.card-shadow-yellow {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(255 193 0 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #ffc100 inset;
}

.green-text {
    color: #06ff00;
}

.green-border {
    border-color: #06ff00;
}

.card-shadow-green {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(6 255 0 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #06ff00 inset;
}

.red-text {
    color: #ff0059;
}

.red-border {
    border-color: #ff0059;
}

.card-shadow-red {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(255 0 89 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #ff0059 inset;
}

.pink-text {
    color: #fd00ff;
}

.pink-border {
    border-color: #fd00ff;
}

.card-shadow-pink {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(255 0 89 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #fd00ff inset;
}

@media (max-width: 1200px) {
    .search-input {
        width: 180px;
    }
}

@media (max-width: 992px) {
    .search-input {
        width: 120px;
    }
}

@media (max-width: 768px) {
    .search-input {
        width: 30px;
        height: 30px;
        padding-left: 0;
        padding: 15px;
    }
    .search-icon:hover~.search-input {
        position: absolute;
        background-color: rgb(167, 189, 23);
        width: 200px;
        height: 200px;
        padding: 10px;
        padding-left: 45px;
        z-index: 2;
        transition: all 0.50s ease-in-out;
    }
    .search-input:focus {
        position: absolute;
        background-color: rgb(129, 203, 32);
        width: 200px;
        height: 30px;
        padding: 10px;
        padding-left: 45px;
        z-index: 2;
        transition: all 0.50s ease-in-out;
    }
}


/* ################################### */

:root {
    --surface-color: #fff;
    --curve: 40;
}

* {
    box-sizing: border-box;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
}

.card-a {
    position: relative;
    display: block;
    height: 100%;
    border-radius: 14px;
    overflow: hidden;
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
}

.card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
    border-radius: calc(var(--curve) * 1px);
    background-color: var(--surface-color);
    transform: translateY(100%);
    transition: .2s ease-in-out;
}

.card:hover .card__overlay {
    transform: translateY(0);
}

.card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1em;
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
}

.card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;
    z-index: 1;
}

.card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
    transform: translateY(0);
}

.card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card__title {
    font-size: 1em;
    margin: 0 0 .3em;
    color: #6A515E;
}

.card__tagline {
    display: block;
    margin: 1em 0;
    font-family: "MockFlowFont";
    font-size: .8em;
    color: #D7BDCA;
}

.card__status {
    font-size: .8em;
    color: #D7BDCA;
}

.card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    font-family: "MockFlowFont";
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}