html {
    min-height: 100%;
}

body {
    /*position: relative;*/
    /*background-repeat: no-repeat;*/
    background-attachment: fixed;
    background-image: linear-gradient(to bottom, #000000, #040303, #070707, #0a0a0b, #0d0d0e, #13151e, #121c2e, #07243f, #073063, #2b3884, #593aa1, #8d31b5);
}

::placeholder {
    color: black;
    opacity: 1;
    /* Firefox */
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
}

a,
button {
    background-color: transparent;
    border: unset;
    color: inherit;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
}

.hidden {
    display: none;
}

.form-control{
    color: #ced6dd;
    background-color: rgb(106 118 227 / 30%);
    border: unset;
}

.card .btn-outline-primary:hover {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
}

.btn-check:focus+.btn-outline-primary,
.btn-outline-primary:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
}

.btn-check:active+.btn-outline-primary:focus,
.btn-check:checked+.btn-outline-primary:focus,
.btn-outline-primary.active:focus,
.btn-outline-primary.dropdown-toggle.show:focus,
.btn-outline-primary:active:focus {
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 0%);
    color: rgb(202, 202, 202);
}

.logo {
    display: block;
}

.navbar-brand {
    margin-right: 0;
}

.nav-link {
    padding: 0;
}

.header {
    background-color: black;
    padding: 10px 0px;
    transition: all 0.50s ease-in-out!important;
    -webkit-box-shadow: 0px -12px 50px 0px rgb(41 10 230 / 59%);
    box-shadow: 0px -12px 50px 0px rgb(41 10 230 / 59%);
}

.header a {
    font-size: 30px;
    color: rgb(97 65 148);
}

.scroll-down {
    position: sticky;
    top: -65px;
    transform: translate3d(0, -100%, 0);
    z-index: 1020;
}

.search {
    padding-left: 20px;
}

.search-input {
    position: absolute;
    color: black;
    width: 200px;
    height: 35px;
    flex: 1 1 auto;
    order: 2;
    outline: none;
    border: none;
    border-radius: 9999px;
    background-color: rgb(97 65 148);
    padding: 10px;
    padding-left: 45px;
    transition: all 0.50s ease-in-out;
    -webkit-appearance: none;
}

.search-icon {
    position: absolute;
    color: black;
    font-size: 15px!important;
    padding: 5px;
    padding-left: 10px;
    z-index: 3;
}

.at-icon {
    position: absolute;
    color: black;
    font-size: 15px!important;
    padding: 5px;
    padding-left: 10px;
    z-index: 3;
}

.search-btn {
    position: absolute;
    color: black;
    font-size: 15px!important;
    padding: 5px;
    padding-left: 10px;
    z-index: 3;
}

.category-add {
    color: rgb(230, 10, 186);
}

.category-add:active {
    color: rgb(163, 19, 134);
}

.modal-header {
    border-bottom: unset;
}

.modal .card {
    width: 19rem;
    border: unset;
}

.modal .card-body {
    flex: 1 1 auto;
    padding: 7px 1rem;
}

.modal .card-img, .card-img-top{
    margin: 20px;
    width: 70%;
    border-radius: 9999px;
}

.header-mash {
    z-index: 1;
    position: absolute;
    width: 100%;
    background-color: rgb(106 118 227 / 17%);
}

.mash-bg {
    position: fixed;
    background: linear-gradient( 315deg, #073063, #2b3884, #593aa1, #b53183, #8d31b5, #593aa1, #2b3884, #073063);
    background-size: 400% 400%;
    animation: gradient 3s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.random-btn {
    width: 70px;
    height: 70px;
    border-radius: 999px;
    background-color: #e60aba;
    color: #ffffff;
    border-color: #e60aba;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.img-cards {
    /* -moz-box-shadow: inset 0 -10px 10px -10px #0d6efd;
    -webkit-box-shadow: inset 0 -10px 10px -10px #0d6efd;
    box-shadow: inset 0 -10px 10px -10px #0d6efd; */
    background-color: rgb(106 118 227 / 17%);
}

.img-cards .start-btn {
    border-top: 1px solid transparent!important;
    border-left: 1px solid transparent!important;
    border-right: 1px solid transparent!important;
}

.blue-text {
    color: #00ceff;
}

.blue-border {
    border-color: #00ceff;
}

.card-shadow-blue {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(0 206 255 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #00ceff inset;
}

.yellow-card {
    color: #fff;
}

.yellow-text {
    color: #ffc100;
}

.yellow-border {
    border-color: #ffc100;
}

.card-shadow-yellow {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(255 193 0 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #ffc100 inset;
}

.green-text {
    color: #06ff00;
}

.green-border {
    border-color: #06ff00;
}

.card-shadow-green {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(6 255 0 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #06ff00 inset;
}

.red-text {
    color: #ff0059;
}

.red-border {
    border-color: #ff0059;
}

.card-shadow-red {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(255 0 89 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #ff0059 inset;
}

.pink-text {
    color: #fd00ff;
}

.pink-border {
    border-color: #fd00ff;
}

.card-shadow-pink {
    box-shadow: rgb(255 255 255 / 1%) 0px 20px 25px -5px, rgb(255 0 89 / 25%) 0px 10px 10px -5px, 0 -10px 10px -10px #fd00ff inset;
}

/*########*/


.progress {
    transition: all 0.50s ease-in-out;

    width: 100%;
    max-width: 19rem;
    height: 30px;
    border-radius: .25rem;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    overflow: hidden;
}
.progress .progress-bar {
    transition: all 0.50s ease-in-out;

    display: block;
    height: 100%;
    background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
    background-size: 300% 100%;
    -webkit-animation: progress-animation 2s linear infinite;
    animation: progress-animation 1s linear infinite;
}

.progress .progress-bar-not-selected{
    display: block;
    height: 100%;
    background: linear-gradient(90deg, #cca831, #cc4194 17%, #903bcc 34%, #00cccc 51%, #cca831 68%, #cc4194 85%, #903bcc);
    background-size: 300% 100%;
    -webkit-animation: progress-animation 2s linear infinite;
    animation: progress-animation 1s linear infinite;

}

@-webkit-keyframes progress-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}

@keyframes progress-animation {
    0% {
        background-position: 100%;
    }
    100% {
        background-position: 0;
    }
}


/*########*/


@media (max-width: 1200px) {
    .search-input {
        width: 180px;
    }
}

@media (max-width: 992px) {
    .search-input {
        width: 150px;
    }
}

@media (max-width: 768px) {
    .search-input {
        width: 30px;
        height: 30px;
        padding-left: 0;
        padding: 15px;
    }
    .search-icon:hover~.search-input {
        position: absolute;
        background-color: rgb(167, 189, 23);
        width: 200px;
        height: 200px;
        padding: 10px;
        padding-left: 45px;
        z-index: 2;
        transition: all 0.50s ease-in-out;
    }
    .search-input:focus {
        position: absolute;
        background-color: rgb(129, 203, 32);
        width: 200px;
        height: 30px;
        padding: 10px;
        padding-left: 45px;
        z-index: 2;
        transition: all 0.50s ease-in-out;
    }

    .mash-img{}

}

@media (max-width: 576px) {
    .img-cards .card-body{

    }
}

@media (min-width: 768px) {
    .img-cards .card-body{

    }
}

@media (min-width: 992px) {
    .img-cards .card-body{

    }
}

@media (min-width: 1200px) {
    .img-cards .card-body{

    }
}

@media (min-width: 1400px) {
    .img-cards .card-body{

    }
}

@media (max-height: 820px) and (max-width: 1279px){
    .modal .card {
        width: 17rem;
    }
    .progress {
        width: 17rem;
    }
}

@media (max-height: 750px) and (max-width: 1279px){
    .modal .card {
        width: 16rem;
    }
    .progress {
        width: 16rem;
    }
}

@media (max-height: 731px) and (max-width: 1279px){
    .modal .card {
        width: 13rem;
    }
    .progress {
        width: 13rem;
    }
}

@media (max-height: 640px) and (max-width: 1279px){
    .modal .card {
        width: 12rem;
    }
    .progress {
        width: 12rem;
    }
}

/*########*/

:root {
    --gradient-shadow: linear-gradient(
            45deg,
            #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff
            /*#7727f5,*/
            /*#ff0099,*/
            /*#ac09a4,*/
            /*#0015ff,*/
            /*#e676f7*/

    );
}

.shadow {
    background: #fff;
}

.shadow:hover:after{
    content: "";
}
.shadowC:after{
    content: "";
}

.shadow:before,
.shadow:after{
    position: absolute;
    background: var(--gradient-shadow);
    background-size: 400%;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    z-index: -1;
    animation: animate 5s linear infinite;
}

.shadow:after {
    filter: blur(20px);
    transition: all 5s ease-in-out;

}

@keyframes animate {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 300% 0;
    }
    100% {
        background-position: 0 0;
    }
}

